input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: .3rem;
    border: 1px solid;

    padding: .40rem;
}

label {
    display: block;
    margin-bottom: .25rem;
}

input[type="text"],
input[type="date"] {
    height: 3rem;
    margin-bottom: 0.5rem;
}

#error-icon {
    height: 0.8rem;
    width: 0.8rem;
    margin-inline-end: 0.3rem;
}

.error-message {
    display: none;
    color: red;
    font-size: 0.75rem;
    margin-top: 0.2rem;
}

input:invalid + .error-message {
    display: block;
}

