aside {
    position: relative;
    height: 100vh;
}

aside .back-intro {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    object-fit: cover;
}

aside .intro {
    width: 2.86rem;
    height: 3rem;
}

aside h1 {
    margin-top: 1rem;
    font-family: var(--font-leckerli-one);
    font-size: var(--font-size-logo);
    font-weight: var(--font-weight-logo);
    color: var(--pink);
}

aside p {
    margin-top: 0.25rem;
    font-family: var(--font-baloo-2);
    font-size: var(--font-size-body-md);
}